			<div class="header" data-push="header"></div>
			<div class="article">
				<div class="content">
					<div class="social" data-push="social">
						<div data-type="content"></div>
						<div data-type="template">
							<a data-value="url"><img data-value="icon"></a>
						</div>
					</div>
					<h1  data-content = "title"></h1>
					<img data-content = "main image">
					<div data-content = "content"></div>
					<div class        = "gallery"
					     data-content = "public gallery"
					     data-type    = "imageGallery"
					     data-access  = "public"
					>
					    <div data-type="content"></div>
						<div data-type="template">
							<a data-value="auto"><img data-value="auto"></a>
						</div>
					</div>
					<div class        = "gallery"
					     data-content = "member gallery"
					     data-type    = "imageGallery"
					     data-access  = "member"
					>
					    <div data-type="content"></div>
						<div data-type="template">
							<a data-value="auto"><img data-value="auto"></a>
						</div>
					</div>
					<div class        = "gallery"
					     data-content = "premium gallery"
					     data-type    = "imageGallery"
					     data-access  = "premium"
					>
					    <div data-type="content"></div>
						<div data-type="template">
							<a data-value="auto"><img data-value="auto"></a>
						</div>
					</div>
					<div class="social" data-push="social">
						<div data-type="content"></div>
						<div data-type="template">
							<a data-value="auto"><img data-value="auto"></a>
						</div>
					</div>
					<div data-push="fb-comments"></div>
				</div>
				<div class       = "other" 
				     data-push   = "relatedArticles"
				     data-update = "replace"
				>
				</div>
				<div class       = "tags"  
				     data-push   = "categorys"
				     data-update = "expand"
				>
				</div>
			</div>
			<div class="category" data-push="category" data-update="auto"></div>
			<div class="footer"   data-push="footer"></div>
